{# templates/security/login.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <form method="post">
            {{ form_start(form) }}

            {{ form_row(form._username) }}
            {{ form_row(form._password) }}

            <button type="submit">Se connecter</button>

            {{ form_end(form) }}
        </form>
    </div>
{% endblock %}
