{# templates/base.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <!-- ... autres balises head ... -->
    <link rel="stylesheet" href="{{ asset('build/css/styles.css') }}">
</head>
<body>
    <!-- ... contenu du corps ... -->
</body>
</html>
